.TableHeadingColor     { background: #C3CDD6; }
.TableSubHeadingColor  { background: #71828A; } 

body {
  xbackground: #fffefa url("monq/jfa/doc-files/bg.png") repeat-y 0%
}

h1, h2, h3 {
  background: #E8F0F1;
  padding-left:2mm;
  padding-top:2mm;
  padding-bottom:1px;  
}

h4, h5, h6 {
  border-left: 5px solid #66aaaa;
  padding-left:2mm;
}

.footnotemark {
  position: relative;
  bottom: 0.5ex;
  left: 0px;
  font-size:smaller;
}

.footnote {
  font-size: smaller;
  text-indent: 1cm;
}



/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#66aaaa;}
.NavBarCell1Rev { background-color:#77bbbb;}

.NavBarFont1    { font-family: sans-serif;}
.NavBarFont1Rev { font-family: sans-serif;}

.NavBarCell2    { font-family: sans-serif; }
.NavBarCell3    { font-family: sans-serif; }

a:link { color: #005555;}
a:visited { color:  #008888;}
a:active { color: #000000;}
a:hover { color: #55555;}

td a:link { color: #005555; font-weight:bold;}
td a:visited { color:  #008888; font-weight:bold;}
td a:active { color: #000000; font-weight:bold; }
td a:hover { color: #55555; font-weight:bold; }

//code { font-family: monospace;}

.cList > dt {
  display: run-in;
  text-align: right;
  width: 5em;
  //font-style: italic;
  font-family: courier,monospace;
  font-weight: bold;
}
.cList > dd {
  display: block;
  margin-left: 6em;
  margin-bottom: 1em;
}

.cList em {
  font-weight: normal;
}

.centered {
  /* see http://www.w3.org/TR/REC-CSS2/visudet.html#q6 */
  margin-left: auto;
  margin-right: auto;
}